body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    color: rgb(240, 240, 240);
    background-color: #DDD;
}

#login {
    color: #ddd;
    margin: auto;
    margin-top: 70px;
    z-index: 1;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 30px 10px #000;
    overflow: hidden;
    display: block;
    width: 350px;
    background-color: #000;
}

#login #cfile {
    cursor: pointer;
    background-color: #000;
    color: #ddd;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-bottom: 1px solid #ddd;
    width: 250px;
}

#login #privateKey {
    display: none;
}

#login label {
    display: inline-block;
    width: 100px;
}

#login input {
    background-color: #000;
    color: #ddd;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-bottom: 1px solid #ddd;
    width: 250px;
    outline: none;
}

#login button {
    background-color: #000;
    color: #ddd;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
}

#term-can {
    text-align: center;
    margin: auto;
    margin-top: 70px;
    display: none;
    font-size: 14px;
}

#term {
    margin: auto;
    border-radius: 7px;
    box-shadow: 0px 0px 30px 10px #000;
    overflow: hidden;
    display: inline-block;
}

#header {
    color: rgb(240, 240, 240);
    background-color: rgb(0, 128, 0);
    width: 100%;
    border-color: white;
    border-style: none none solid none;
    border-width: 1px;
    text-align: center;
    z-index: 99;
}


#terminal .terminal {
    text-align: left;
    background-color: #111;
    color: #fafafa;
    padding: 2px;
    outline: none;
}

#terminal .terminal .terminal-cursor {
    background-color: #fafafa;
}

#bottomdiv {
    position: relative;
    top: 0px;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-color: white;
    border-style: solid none none none;
    border-width: 1px;
    z-index: 99;
    text-align: left;
}

#footer {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#status {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    padding-right: 10px;
    border-color: white;
    border-style: none solid none solid;
    border-width: 1px;
    text-align: left;
    z-index: 100;
}
